header {
    display: flex;
    height: 125px;
    width: 100%;
    background-color: rgb(51, 161, 224);
    justify-content: left;
}  

.title{
    display: flex;
    color: white;
    font-size: 4em;
    align-items: center;
}

.menu{
    display: flex;
    list-style-type: none;
    font-size: 1em;
    margin: 1%;
    align-items: center;
}

.menu li {
    margin-right: 20px;
    color:white;
    text-decoration: none;
    font-size: 4em;
    font-family: Arial, Helvetica, sans-serif;
}

.titleText{
    color:white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.titleText:hover{
    border-radius: 10px;
    background-color: rgb(51, 132, 224);
}
.titleText1{
    font-size: 4em;
    font-family: Arial, Helvetica, sans-serif;
}
.titleText2{
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}

.textBoxMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(51, 132, 224);
    width: 60%;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    color: white;
    padding: 40px;
    border-radius: 50px;
}
.container{
    margin-top: 50px;
}
body{
    margin: 0;
    height: 100%;
}

footer{
    text-align: center;
}

.description{
    width: 40%;
}

.mainPhoto {
    width: 90%; 
    height: 700px; 
    background-image: url('main_photo.jpg');
    background-size: cover; 
    background-position: center; 
    margin: 0 auto; 
    margin-top: 20px;
    border-radius: 10px;
}

.FishPage{
    text-align: left;
    display: flex;
    margin: 50px;
}

.RibaText{
    margin-left: 10px;
    font-size: 18px;
    word-wrap: break-word;
    line-height: 24px;
    font-family: Arial, Helvetica, sans-serif;
}
.RibaTextHead{
    font-weight: bold;
}

.ImgOnPage{
    width: 500px;
    height: 500px;
    border-radius: 10px;
}

html{
    height: 100%;
}

main{
    flex: 1 1 auto;
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.btn-custom{
    margin-left: -15px;
}

@media (max-width: 770px) {
    .menu {
        flex-direction: column; 
        margin-top: 10px;
        align-items: center; 
        width: 100%; 
    }

    .menu li {
        margin-right: 0; 
        font-size: 2em; 
        margin-bottom: 20px; 
    }

    header {
        height: auto; 
        flex-direction: column; 
        align-items: center; 
        justify-content: center; 
        width: 100%; 
    }

    .title {
        font-size: 2em; 
        margin-left: 0; 
        margin-top: 10px; 
    }
    
    .FishPage {
        flex-direction: column; 
        align-items: center; 
    }

    .ImgOnPage, .description {
        width: 100%; 
        height: auto; 
    }

    .ImgOnPage {
        margin-bottom: 20px; 
    }

    .textBoxMain{
        width: 90%;
    }
}